<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Kandi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Navigation-with-Search.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>



<body class="cbg">
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-search cnavbg">
    <div class="container">
      <a class="navbar-brand" href="#">Digital Twin</a>
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav">
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Docs</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">API</a>
              <a class="dropdown-item" href="#">Modules</a>
            </div>
          </li>
        </ul>
        <form class="form-inline mr-auto" target="_self">
          <div class="form-group">
            <label for="search-field"></label>
          </div>
        </form>
      </div>
      <a class="btn action-button mx-1" role="button" style="background-color: rgb(160,47,47);" href="#">Login</a>
      <a class="btn action-button mx-1" role="button" style="background-color: rgb(160,47,47);" href="#">Register</a>
    </div>
  </nav>
  <div class="container d-flex h-100">
  <h1 class="display-1 justify-content-center align-self-center mx-auto">
    <u>DIGITAL TWIN</u>
  </h1>
  </div>


  <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>