body, html {
  height: 100%;
}

.cbg {
  background-color: #898787;
}

.cnavbg {
background-color: #c6bcbc;
}

.cbtnbg {
background-color: #a02f2f;
}

.custom.action-button {
  background-color: #a02f2f!important;
}

.custom.btn-primary:hover{
  background-color: #a02f2f;
  outline: none;
  box-shadow: none;
}

.custom.btn-primary:focus{
  background-color: #a02f2f;
  outline: none;
  box-shadow: none;
}

.custom.btn-primary:active{
  background-color: #a02f2f!important;
  outline: none;
  box-shadow: none;
  outline: none;
}

.custom.btn-primary:active:focus{
  background-color: #a02f2f!important;
  outline: none;
  box-shadow: none!important;
}

#maintext {
  margin-top: 50%;
}